.content {
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &:nth-child(odd) {
    .content__container {
      margin-left: auto;
    }
  }

  &__container {
    width: 55%;
    height: 100%;

    &_wrapper {
      padding-top: 160px;

      h2 {
        font-size: 1.5rem;
        line-height: 2;
        font-weight: 400;
        font-family: $font-head;
      }
      h3 {
        padding-bottom: 30px;
        font-size: 3rem;
        line-height: 1.125;
        font-weight: 400;
        font-family: $font-head;
      }

      p {
        padding-bottom: 30px;
      }

      a {
        padding: 18px;
        border: 1px solid $color-text;
        display: block;
        text-align: center;
        text-decoration: none;
        color: inherit;
        background: $color-link-gradient;
      }
    }
  }

  &:nth-child(odd) {
    .content__specials {
      left: 0;
      padding-left: 60px;
      padding-right: 40px;
      border-bottom-right-radius: 10px;
    }
  }
  &:nth-child(even) {
    .content__specials {
      right: 0;
      padding-right: 60px;
      padding-left: 40px;
      border-bottom-left-radius: 10px;
    }
  }

  &__specials {
    position: absolute;
    top: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, .4);

    span {
      padding: 20px 10px;
      position: relative;

      &:first-of-type {
        margin-right: 30px;
      }

      &::before {
        position: absolute;
        top: 0%;
        left: -10%;
        width: 2px;
        height: 65px;
        content: "";
        background-color: $color-text;
      }
    }
    img {
      margin-right: 20px;
    }
  }
}
