.content {
  position: relative;

  height: 812px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &:nth-child(odd) {
    .content__container {
      margin-left: auto;
    }
  }

  &__container {
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;

    @include xl-min {
      width: 55%;
    }
    @include lg-min {
      width: 70%;
    }
    @include md-min {
      width: 90%;
    }

    &_wrapper {
      @include sm {
        padding: 0 10px;

        border-radius: 10px;
        background: $color-gradient;
      }
      @include sm-min {
        padding-top: 20px;
      }
      @include md-min {
        padding-top: 100px;
      }

      h2 {
        font-family: $font-head;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2;

        text-align: center;

        @include sm-min {
          font-size: 1.5rem;

          text-align: left;
        }
      }
      h3 {
        font-family: $font-head;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.125;

        padding-bottom: 10px;

        text-align: center;

        @include sm-min {
          font-size: 3rem;

          padding-bottom: 30px;

          text-align: left;
        }
      }

      p {
        font-size: 0.75rem;

        padding-bottom: 10px;

        @include sm-min {
          font-size: 1rem;

          padding-bottom: 30px;
        }
      }

      a {
        display: block;

        padding: 9px;

        transition: all 0.3s;
        text-align: center;
        text-decoration: none;

        color: inherit;
        border: 1px solid $color-text;
        background: $color-link-gradient;

        @include sm {
          margin: 0 -10px;
        }
        @include sm-min {
          padding: 18px;
        }

        &:hover {
          background: linear-gradient(
              90.87deg,
              #ff4d01 55.19%,
              rgba(255, 255, 255, 0) 116.44%
            ),
            #fc4e17;
        }
      }
    }
  }

  &:nth-child(odd) {
    .content__specials {
      background-color: rgba(0, 0, 0, 0.4);

      @include md-min {
        background-color: transparent;

        justify-content: flex-start;
      }
    }
  }
  &:nth-child(even) {
    .content__specials {
      background-color: rgba(0, 0, 0, 0.4);

      @include md-min {
        background-color: transparent;

        justify-content: flex-end;
      }
    }
  }

  &__specials {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    @include md-min {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include sm-min {
      flex-direction: row;
    }

    span {
      position: relative;

      padding: 10px 0;

      text-align: center;

      @include lg-min {
        font-size: 1rem;
      }
      @include md-min {
        font-size: 0.875rem;

        margin: 0 30px;
      }
      @include sm-min {
        padding: 20px 10px;
        &:first-of-type {
          margin-right: 20px;
        }
      }

      &::before {
        position: absolute;
        top: 15%;
        left: -10%;

        display: none;

        width: 2px;
        height: 50px;

        content: "";

        background-color: $color-text;

        @include sm-min {
          display: block;
        }
        @include md-min {
          top: 0;

          height: 65px;
        }
      }
    }
    img {
      margin-right: 20px;
    }
  }
}
