.hero {
  display: none;
  width: 1280px;
  height: 723px;
  margin-bottom: 100px;
  background: url(../img/cars.png) no-repeat 0% 100%,
    $color-gradient url(./../img/hero-bg-icon.png) no-repeat 50%;

  @include xl-min {
    display: block;
  }

  &__title {
    padding-top: 150px;
    text-align: center;
    font-size: 7.875rem;
    line-height: 0.4;
    font-family: $font-head;
    font-weight: 400;
    color: $color-text;
    margin-bottom: 50px;

    & span {
      color: $color-accent;
    }
  }
}
