.presentation {
  background: $color-gradient url(./../img/presentation-bg-icon.png) no-repeat;
  

  @include md-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {
    margin: 0 auto;
    padding: 40px;

    @include lg-min {
      padding: 0 180px;
    }
    @include md-min {
      padding: 0 90px;
    }
  }

  &__description {
    font-size: 1rem;
    @include sm-min {
      font-size: 1.375rem;
    }
  }

  &__column {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.875rem;

    @include md-min {
      flex-direction: row;
    }
    @include sm-min {
      font-size: 1rem;
    }

    p {
      width: 100%;

      &:first-of-type {
        margin-bottom: 20px;
      }

      @include md-min {
        width: 45%;
      }
    }
  }
}
