//fonts variables
$font-main: "Montserrat", sans-serif;
$font-head: 'Anton', sans-serif;
$font-size: 16px;

//size-variables
$ul: 2560px;
$xl: 1440px;
$lg: 1025px;
$md: 769px;
$sm: 425px;
// $content-container: 800px;

//color-variables
$color-main: #123F82;
$color-accent: #FF9901;
$color-text: #FFFFFF;
$color-gradient: linear-gradient(288.76deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123F82;
$color-link-gradient: linear-gradient(90.74deg, #FF9901 47.4%, rgba(255, 255, 255, 0) 100%), #FCB117;