/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.hero {
  display: none;
  width: 1280px;
  height: 723px;
  margin-bottom: 100px;
  background: url(../img/cars.png) no-repeat 0 100%, -o-linear-gradient(161.24deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/hero-bg-icon.png) no-repeat 50%;
  background: url(../img/cars.png) no-repeat 0 100%, linear-gradient(288.76deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/hero-bg-icon.png) no-repeat 50%;
}

.hero__title {
  font-family: "Anton", sans-serif;
  font-size: 7.875rem;
  font-weight: 400;
  line-height: 0.4;
  margin-bottom: 50px;
  padding-top: 150px;
  text-align: center;
  color: #fff;
}

.hero__title span {
  color: #ff9901;
}

.presentation {
  background: -o-linear-gradient(161.24deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/presentation-bg-icon.png) no-repeat;
  background: linear-gradient(288.76deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/presentation-bg-icon.png) no-repeat;
}

.presentation__container {
  margin: 0 auto;
  padding: 40px;
}

.presentation__description {
  font-size: 1rem;
}

.presentation__column {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentation__column p {
  width: 100%;
}

.presentation__column p:first-of-type {
  margin-bottom: 20px;
}

.content {
  position: relative;
  height: 812px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content:nth-child(odd) .content__container {
  margin-left: auto;
}

.content__container {
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.content__container_wrapper h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}

.content__container_wrapper h3 {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  padding-bottom: 10px;
  text-align: center;
}

.content__container_wrapper p {
  font-size: 0.75rem;
  padding-bottom: 10px;
}

.content__container_wrapper a {
  display: block;
  padding: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid #fff;
  background: -o-linear-gradient(359.26deg, #ff9901 47.4%, rgba(255, 255, 255, 0) 100%), #fcb117;
  background: linear-gradient(90.74deg, #ff9901 47.4%, rgba(255, 255, 255, 0) 100%), #fcb117;
}

.content__container_wrapper a:hover {
  background: -o-linear-gradient(359.13deg, #ff4d01 55.19%, rgba(255, 255, 255, 0) 116.44%), #fc4e17;
  background: linear-gradient(90.87deg, #ff4d01 55.19%, rgba(255, 255, 255, 0) 116.44%), #fc4e17;
}

.content:nth-child(odd) .content__specials {
  background-color: rgba(0, 0, 0, 0.4);
}

.content:nth-child(even) .content__specials {
  background-color: rgba(0, 0, 0, 0.4);
}

.content__specials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__specials span {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.content__specials span::before {
  position: absolute;
  top: 15%;
  left: -10%;
  display: none;
  width: 2px;
  height: 50px;
  content: "";
  background-color: #fff;
}

.content__specials img {
  margin-right: 20px;
}

.audi {
  background-image: url(../img/content-audi.png);
}

.citroen {
  background-image: url(../img/content-citroen.png);
}

.vw {
  background-image: url(../img/content-vw.png);
}

.honda {
  background-image: url(../img/content-honda.png);
}

.jeep {
  background-image: url(../img/content-jeep.png);
}

.footer {
  padding: 40px;
  background: -o-linear-gradient(161.24deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/footer-bg-icon.png) no-repeat 100% 0;
  background: linear-gradient(288.76deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82 url(./../img/footer-bg-icon.png) no-repeat 100% 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__description {
  margin-bottom: 20px;
}

.footer__logo img {
  width: 80%;
  margin-left: 30px;
}

@media (min-width: 425px) {
  .presentation__description {
    font-size: 1.375rem;
  }
  .presentation__column {
    font-size: 1rem;
  }
  .content__container_wrapper {
    padding-top: 20px;
  }
  .content__container_wrapper h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .content__container_wrapper h3 {
    font-size: 3rem;
    padding-bottom: 30px;
    text-align: left;
  }
  .content__container_wrapper p {
    font-size: 1rem;
    padding-bottom: 30px;
  }
  .content__container_wrapper a {
    padding: 18px;
  }
  .content__specials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content__specials span {
    padding: 20px 10px;
  }
  .content__specials span:first-of-type {
    margin-right: 20px;
  }
  .content__specials span::before {
    display: block;
  }
  .audi__container {
    background: url(../img/bubbles/audi-vector2.png) no-repeat 0 -20%, url(../img/bubbles/audi-vector1.png) no-repeat 50% 60%;
  }
  .citroen__container {
    background: url(../img/bubbles/citroen-vector1.png) no-repeat 100% 50%, url(../img/bubbles/citroen-vector2.png) no-repeat 20% 120%;
    background-size: contain;
  }
  .vw__container {
    background: url(../img/bubbles/vw-vector1.png) no-repeat 0 45%, url(../img/bubbles/vw-vector2.png) no-repeat 0 100%;
    background-size: contain;
  }
  .honda__container {
    background: url(../img/bubbles/honda-vector1.png) no-repeat 100% 65%, url(../img/bubbles/honda-vector2.png) no-repeat 0 45%;
  }
  .jeep__container {
    background: url(../img/bubbles/jeep-vector1.png) no-repeat 0 45%, url(../img/bubbles/jeep-vector2.png) no-repeat 0 75%;
    background-size: contain;
  }
}

@media (min-width: 769px) {
  .presentation {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .presentation__container {
    padding: 0 90px;
  }
  .presentation__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .presentation__column p {
    width: 45%;
  }
  .content__container {
    width: 90%;
  }
  .content__container_wrapper {
    padding-top: 100px;
  }
  .content:nth-child(odd) .content__specials {
    background-color: transparent;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content:nth-child(even) .content__specials {
    background-color: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .content__specials {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .content__specials span {
    font-size: 0.875rem;
    margin: 0 30px;
  }
  .content__specials span::before {
    top: 0;
    height: 65px;
  }
  .audi__container_wrapper {
    margin-left: 140px;
    padding-right: 120px;
  }
  .citroen__container_wrapper {
    margin-left: 190px;
    padding-right: 70px;
  }
  .vw__container {
    background: url(../img/bubbles/vw-vector1.png) no-repeat 0 45%, url(../img/bubbles/vw-vector2.png) no-repeat 0 100%;
  }
  .vw__container_wrapper {
    margin-left: 70px;
    padding-right: 180px;
  }
  .honda__container_wrapper {
    margin-left: 190px;
    padding-right: 70px;
  }
  .jeep__container_wrapper {
    margin-left: 70px;
    padding-right: 180px;
  }
  .footer {
    padding: 100px 60px 50px 60px;
  }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__description {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .footer__logo img {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1025px) {
  .presentation__container {
    padding: 0 180px;
  }
  .content__container {
    width: 70%;
  }
  .content__specials span {
    font-size: 1rem;
  }
  .citroen__container {
    background-size: auto;
  }
  .vw__container {
    background-size: auto;
  }
  .jeep__container {
    background-size: auto;
  }
}

@media (min-width: 1440px) {
  .hero {
    display: block;
  }
  .content__container {
    width: 55%;
  }
}

@media (max-width: 424.8px) {
  .content__container_wrapper {
    padding: 0 10px;
    border-radius: 10px;
    background: -o-linear-gradient(161.24deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82;
    background: linear-gradient(288.76deg, rgba(4, 148, 220, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #123f82;
  }
  .content__container_wrapper a {
    margin: 0 -10px;
  }
}
